@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: #131313;
  --primary-color-50: rgb(19, 19, 19, 0.5);
  --todo-item-bg: rgba(255, 255, 255, 0.165);
  --bg-do: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  --bg-undo: linear-gradient(to top, #ff0844 0%, #f85727 100%);
  --shadow-color: #09f;
  --text-color: white;
  --radius: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  scrollbar-width: none;
  user-select: none;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Rubik", serif;
}

::selection {
  background-color: #09f;
}

#root {
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1.5rem;
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
}

.AddTodoForm {
  width: clamp(300px, 90dvw, 60%);
  border-radius: var(--radius);
  position: relative;

  &::before {
    border-radius: inherit;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    filter: blur(10px);
    z-index: -300;
  }

  & .AddTodoInput {
    width: 100%;
    padding: 8px 12px;
    text-align: center;
    border-radius: inherit;
    font-family: inherit;
    height: 100%;
    &:focus {
      box-shadow: 0 0 10px var(--shadow-color);
    }
  }
}

.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  overflow-y: hidden;
}

.TodoList {
  position: relative;
  list-style: none;
  padding: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: var(--radius);
  border: .5px solid rgba(245, 245, 245, 0.08);
}

.TodoListTittle {
  background-color: var(--primary-color-50);
  text-align: center;
  padding: 8px 12px;
  border-radius: 0 0 12px 12px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: clamp(1rem, 50vw, 1.3rem);
}

.TodoItem {
  width: 100%;
  min-height: fit-content;
  background-color: var(--todo-item-bg);
  padding: 12px;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.TodoItemText {
  display: inline-block;
  width: 80%;
  max-width: 80%;
  word-wrap: break-word;
}

button {
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  background-color: var(--todo-item-bg);
  &:active {
    transform: scale(0.8);
  }
}

.TodoItemButtons {
  display: flex;
  gap: 8px;
}

.btn_cta {
  width: 35px;
  height: 35px;
  & img {
    width: 100%;
    height: 100%;
  }
}

.buttonTodoItemDrop {
  outline: 1px solid white;
}

.taskDo{
  background: var(--bg-do);
}

.taskUnDo{
  background: var(--bg-undo);
}