:root {
  --primary-color: #131313;
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--primary-color);
  color: var(--text-color);
}

#todo {
  width: 100%;
  height: 100%;
}
